- DataFrame()
  - たいていリストを1行のデータと考えるとリストのリストを渡してテーブルデータを表現するものとイメージすると良さそう
  - テーブルデータなので列名を伴うのが自然（cloumns引数）
  - 列に対して条件演算をかけると対応する値が真偽値になった結果を得ることができる
    - e.g. `df['COL_NAME'] > X`
    - `df[ df['COL_NAME'] > X ]` で条件を満たす行だけを抽出する
  - 列＝（Series？）に対する演算もいろいろ用意されている
    - e.g. `df['COL_NAME'].round()`
  - `.astype()` で型変換して既存列を上書きするか新しい列として追加する

In [22]:
import pandas as pd

In [3]:
# apply
# sample
# groupby
#

In [17]:
df = pd.DataFrame(
    [
        ["カツ丼", "並"],
        ["カレーライス", "大"],
        ["冷やし中華", "並"],
        ["カレーライス", "小"],
    ],
    columns=["メニュー", "サイズ"],
)
df

     メニュー サイズ
0     カツ丼   並
1  カレーライス   大
2   冷やし中華   並
3  カレーライス   小

In [18]:
size2int = {"小": 0, "並": 1, "大": 2}
df["サイズ"] = df["サイズ"].map(size2int)
df

     メニュー  サイズ
0     カツ丼    1
1  カレーライス    2
2   冷やし中華    1
3  カレーライス    0

In [19]:
df["サイズ"].unique()

array([1, 2, 0])

In [20]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df["メニューラベル"] = encoder.fit_transform(df["メニュー"])
df

     メニュー  サイズ  メニューラベル
0     カツ丼    1        0
1  カレーライス    2        1
2   冷やし中華    1        2
3  カレーライス    0        1

In [21]:
pd.get_dummies(df)

   サイズ  メニューラベル  メニュー_カツ丼  メニュー_カレーライス  メニュー_冷やし中華
0    1        0      True        False       False
1    2        1     False         True       False
2    1        2     False        False        True
3    0        1     False         True       False

In [26]:
df[df['サイズ'] == 1]

    メニュー  サイズ  メニューラベル
0    カツ丼    1        0
2  冷やし中華    1        2