# ファイルの読み書き

In [16]:
f = open("./data/example.txt", "r", encoding="utf-8")
print(f.read())
print(f.read())
f.close()

あいうえお
さしすせそ
わをん

In [17]:
f = open("./data/example.txt", "r", encoding="utf-8")
print(f.readline())
print(f.readline())
print(f.readline())
print(f.readline())
f.close()

あいうえお

さしすせそ

わをん

In [18]:
f = open("./data/example.txt", "r", encoding="utf-8")
for line in f:
    print(line, end="")
f.close()

あいうえお
さしすせそ
わをん

In [19]:
with open("./data/example.txt", "r", encoding="utf-8") as f:
    text = f.read()

print(text)

あいうえお
さしすせそ
わをん

In [20]:
# 書き込み

# with open('./data/example.txt', 'w', encoding='utf-8') as f:
#     f.write("なにぬねの")

In [21]:
import pandas as pd
import polars as pl

In [25]:
pd.read_csv("./data/example.csv", encoding="utf-8")

     項目    分類
0    いぬ    動物
1  サッカー  スポーツ
2  ラーメン   食べ物

In [28]:
df = pd.read_csv("./data/example.csv", encoding="utf-8")
df["分類"]

0      動物
1    スポーツ
2     食べ物
Name: 分類, dtype: object

In [29]:
pd.read_csv("./data/example_no_header.csv", encoding="utf-8")

     いぬ    動物
0  サッカー  スポーツ
1  ラーメン   食べ物

In [31]:
pd.read_csv("./data/example_no_header.csv", header=None, encoding="utf-8")

      0     1
0    いぬ    動物
1  サッカー  スポーツ
2  ラーメン   食べ物

In [32]:
pd.read_csv("./data/example_no_header.csv", names=("項目", "分類"), encoding="utf-8")

     項目    分類
0    いぬ    動物
1  サッカー  スポーツ
2  ラーメン   食べ物

In [36]:
# pd.read_csv('./data/example.tsv', encoding='utf-8', sep='\t')
pd.read_table("./data/example.tsv", encoding="utf-8")

       項目    分類
0      いぬ    動物
1  サッカー    スポーツ
2   ラーメン    食べ物

In [37]:
pd.read_json("./data/example.json", encoding="utf-8")

     項目    分類
0    いぬ    動物
1  サッカー  サッカー
2  サッカー  サッカー

In [23]:
pl.read_csv("./data/example.csv", encoding="utf-8")

shape: (3, 2)
┌──────────┬──────────┐
│ 項目     ┆ 分類     │
│ ---      ┆ ---      │
│ str      ┆ str      │
╞══════════╪══════════╡
│ いぬ     ┆ 動物     │
│ サッカー ┆ スポーツ │
│ ラーメン ┆ 食べ物   │
└──────────┴──────────┘

- 全部愚直に写していくのはあんまり意味ないかも
-

ディレクトリの走査

- ファイル一覧の取得

In [39]:
from pathlib import Path


def get_all_files(root_path: str, pattern: str = "*") -> list:
    """
    ディレクトリを再起的に走査する場合は `**` パターンを指定する
    """
    return list(Path(root_path).glob(pattern))

In [40]:
def f(**params):
    print(params)


f(a="a", b="b")

{'a': 'a', 'b': 'b'}

In [ ]:
# json.dumps()